{{- partial "desktop-head.html" . -}}

<body>
<div id="profile" class="window active index-window" style="">
    <div class="window-title">
        ✨ {{ $.Site.Title }} ✨
        <div class="buttons">
            <div class="button" style="background: #ffff4d;" onclick="minimizeWindow('profile')"></div>
            <div class="button" style="background: #ff6b6b;" onclick="closeWindow('profile')"></div>
        </div>
    </div>
    <div class="content">
        <div class="profile-card">
            <img src="{{ .Site.Params.avatarurl }}" alt="Profile Picture" class="profile-image">
            <div class="profile-info warning">
                <h3>[ Warning! ]</h3>
                <p>{{ .Site.Params.warning | safeHTML }}</p>
            </div>
        </div>
        <a href='/home' class="enter">Enter</a>
{{/*        <div class="social-links">*/}}
{{/*            <a href="#" class="social-link">*/}}
{{/*                <img src="https://files.catbox.moe/og4nft.gif" alt="Twitter">*/}}
{{/*                Twitter*/}}
{{/*            </a>*/}}
{{/*            <a href="#" class="social-link">*/}}
{{/*                <img src="https://files.catbox.moe/7tzc9c.gif" alt="Instagram">*/}}
{{/*                Instagram*/}}
{{/*            </a>*/}}
{{/*            <a href="#" class="social-link">*/}}
{{/*                <img src="https://files.catbox.moe/dtal07.gif" alt="GitHub">*/}}
{{/*                GitHub*/}}
{{/*            </a>*/}}
{{/*            <a href="#" class="social-link">*/}}
{{/*                <img src="https://files.catbox.moe/e0ep7c.gif" alt="DeviantArt">*/}}
{{/*                DeviantArt*/}}
{{/*            </a>*/}}
{{/*        </div>*/}}
    </div>
</div>
</body>

{{ $randomcat := resources.Get "js/randomcat.js" }}
<script src="{{ $randomcat.RelPermalink }}"></script>
<script>
    // Make windows draggable
    const windows = document.querySelectorAll('.window');
    windows.forEach(makeWindowDraggable);

    function makeWindowDraggable(element) {
        let pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        element.querySelector('.window-title').onmousedown = dragMouseDown;

        function dragMouseDown(e) {
            e.preventDefault();
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            document.onmousemove = elementDrag;
            bringToFront(element);
        }

        function elementDrag(e) {
            e.preventDefault();
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            element.style.top = (element.offsetTop - pos2) + "px";
            element.style.left = (element.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }

    function bringToFront(element) {
        windows.forEach(win => win.style.zIndex = "1"); element.style.zIndex = "2";
    }
</script>